.Card {
  background-color: white;
  margin-top: 10px;
  height: 50px;
  text-align: left;
  padding-left: 9px;
  padding-top: 7px;
  font-size: 15px;
  border-radius: 5px;
  border-bottom: #b2b8c5;
  border-style: solid;
  border-left: none;
  border-right: none;
  border-top: none;
  border-width: 1px;
}