.Board {
  .title {  
    font-size: 20px;
    margin: 0 0 9px 0;
  
    text-align: left;
    padding-left: 20px;
    padding-top: 15px;
    color: white;
  }

  .card-lists {
    display: flex;
    align-items: flex-start;
    padding-top: 10px;
  }
}